<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="navbar bg-white text-[#382800]">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl"><img src="../assets/image/logo.png" class="w-24" alt=""></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a>Shop</a></li>
      <li><a>Grocery</a></li>
      <li><a>Dry Fruits</a></li>
      <li><a>Spices</a></li>

    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-warning mr-2">Shop Now</a>
    <a class="btn btn-warning">Add To Cart <i class="fa-solid fa-cart-shopping" style="color: #382800;"></i></a>

  </div>
</div>
<div class="carousel w-full cont_one h-full">
  <div id="slide1" class="carousel-item relative w-full">
    <div class="overlay"></div>
    <div class="cont_three text-center text-4xl"><h2 class="text-white font-black"> Dry Fruits and Spices </h2>
      <p class="text-warning">FLAT 10% OFF </p>
      <p class="text-warning">USE COUPEN : JK156</p>  
    </div>
    <img src="../assets/image/carasoul/1.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a> 
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide2" class="carousel-item relative w-full">
     <div class="overlay"></div>
    <div class="cont_three text-center text-4xl"><h2 class="text-white font-black"> Dry Fruits and Spices </h2>
      <p class="text-warning">FLAT 10% OFF </p>
      <p class="text-warning">USE COUPEN : JK156</p>  
    </div>
    <img src="../assets/image/carasoul/2.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide1" class="btn btn-circle">❮</a> 
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide3" class="carousel-item relative w-full">
     <div class="overlay"></div>
    <div class="cont_three text-center text-4xl"><h2 class="text-white font-black"> Dry Fruits and Spices </h2>
      <p class="text-warning">FLAT 10% OFF </p>
      <p class="text-warning">USE COUPEN : JK156</p>  
    </div>
    <img src="../assets/image/carasoul/3.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide2" class="btn btn-circle">❮</a> 
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide4" class="carousel-item relative w-full">
     <div class="overlay"></div>
    <div class="cont_three text-center text-4xl"><h2 class="text-white font-black"> Dry Fruits and Spices </h2>
      <p class="text-warning">FLAT 10% OFF </p>
      <p class="text-warning">USE COUPEN : JK156</p>  
    </div>
    <img src="../assets/image/carasoul/4.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a> 
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>
<section class="sec_one py-10">
  <div class="max-w-screen-xl  mx-auto">
         <div class="heading text-center">
           <h1 class="text-[#AD5D29] font-extrabold text-4xl">Our Best Spices</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugiat, ex necessitatibus </p>
           <i class="fa-solid fa-star" style="color: #f4b323;"></i>
           <i class="fa-solid fa-star text-xl"></i>
           <i class="fa-solid fa-star" style="color: #f4b323;"></i>
         </div>
       <div class="cont_two text-center">
           <div class="btn btn-warning rounded-full">Dried Seeds</div>&nbsp;&nbsp;
           <div class="btn bg-white text-[#382800] hover:btn-warning rounded-full">Dried Seeds</div>
       </div>
  
     <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4 mt-10">
            <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/brown_stick.png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Brown Stick</h2>
              <p class="my-2">$50 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/pngwing.com (15).png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Brown Seeds</h2>
              <p class="my-2">$30 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/pngwing.com (16).png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Himalayan Salt</h2>
              <p class="my-2">$10 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/pngwing.com (17).png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Chia Seeds</h2>
              <p class="my-2">$350 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/pngwing.com (18).png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Ginger Tea</h2>
              <p class="my-2">$150 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/pngwing.com (19).png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Chills</h2>
              <p class="my-2">$50 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_spices/pngwing.com (20).png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Turmic Powder</h2>
              <p class="my-2">$350 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
             <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
              <img src="../assets/image/our_best_dry fruit/4.png" class="round border-[#382800]  mx-auto" alt="">
              <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Mixed Dry Druits</h2>
              <p class="my-2">$350 Per/kg</p>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
             </div>
         
  
  
     </div>
   </div>
  
  </section>
  <section class="py-20 sec_four">
    <div class="max-w-screen-xl flex mx-auto">
      <div class="grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1">
        <h2 class="text-white text-2xl">Healthy Herbs</h2>
        <p class="text-4xl text-warning py-5">Get 10% off <br>On all Spicy & Herb's</p>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias <br> deleniti libero dolorum unde </p>
        <div class="flex py-10">
        <button class="btn btn-outline btn-warning rounded-full">View More</button>&nbsp;
        <button class="btn btn-outline btn-success rounded-full">Shop Now</button>
        </div>
      </div>
    </div>
    
  </section>
<section class="sec_three py-10">
<div class="max-w-screen-xl  mx-auto">
       <div class="heading text-center">
         <h1 class="text-[#ffffff] font-extrabold text-4xl">Our Best Dry Fruit</h1>
         <p class="text-[#ffffff]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugiat, ex necessitatibus </p>
         <i class="fa-solid fa-star" style="color: #f4b323;"></i>
         <i class="fa-solid fa-star text-xl"></i>
         <i class="fa-solid fa-star" style="color: #f4b323;"></i>
       </div>
     <div class="cont_two text-center">
         <div class="btn btn-warning rounded-full">Dried Seeds</div>&nbsp;&nbsp;
         <div class="btn bg-white text-[#382800] hover:btn-warning rounded-full">Dried Seeds</div>
     </div>

   <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4 mt-10">
          <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/2.png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Mixed Dry Druits</h2>
            <p class="my-2">$350 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/4.png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Dates</h2>
            <p class="my-2">$250 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/pngwing.com (15).png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Cashews</h2>
            <p class="my-2">$350 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/pngwing.com (16).png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Pistachio Nut</h2>
            <p class="my-2">$350 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/pngwing.com (17).png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Anzeer</h2>
            <p class="my-2">$150 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/pngwing.com (18).png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Apricot</h2>
            <p class="my-2">$350 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/pngwing.com (20).png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Walnut</h2>
            <p class="my-2">$350 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
           <div class="col py-10 px-5 justify-self-center text-center bg-slate-100 shadow-md">
            <img src="../assets/image/our_best_dry fruit/2.png" class="round border-[#382800]  mx-auto" alt="">
            <h2 class="text-[#9F4103] font-bold mt-6 mb-4">Mixed Dry Druits</h2>
            <p class="my-2">$350 Per/kg</p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
           </div>
       


   </div>
 </div>

</section>
<section class="py-20 bg-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-4">
      <div class="col text-center border rounded py-10">
        <i class="fa-solid fa-rotate fa-bounce text-5xl py-5" style="color: #9f4103;"></i>
        <h2 class="font-bold text-2xl pb-5">Money Back Guarentee</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis tempore et, odio earum </p>
      </div>
      <div class="col text-center border rounded py-10">
        <i class="fa-solid fa-truck-fast fa-bounce text-5xl py-5" style="color: #9f4103;"></i>
        <h2 class="font-bold text-2xl pb-5">Free Shipping</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis tempore et, odio earum </p>
      </div>
      <div class="col text-center border rounded py-10">
        <i class="fa-solid fa-clock fa-bounce text-5xl py-5" style="color: #9f4103;"></i>
        <h2 class="font-bold text-2xl pb-5">24*7 Customer Service</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis tempore et, odio earum </p>
      </div>
    </div>
  </div>

</section>

<footer class="footer p-10 bg-base-300 text-base-content">
  
  <div class="mx-auto">
    <span class="footer-title">Services</span> 
    <a class="link link-hover">Branding</a> 
    <a class="link link-hover">Design</a> 
    <a class="link link-hover">Marketing</a> 
    <a class="link link-hover">Advertisement</a>
  </div> 
  <div class="mx-auto"> 
    <span class="footer-title">Company</span> 
    <a class="link link-hover">About us</a> 
    <a class="link link-hover">Contact</a> 
    <a class="link link-hover">Jobs</a> 
    <a class="link link-hover">Press kit</a>
  </div> 
  <div class="mx-auto">
    <span class="footer-title">Social</span> 
    <div class="grid grid-flow-col gap-4">
      <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a>
      <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path></svg></a>
      <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path></svg></a>
    </div>
  </div>
</footer>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
