/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    font-family: 'Montserrat', sans-serif;
    color: #382800;
}
.cont_one
{
    height: 40rem;
    
}
.sec_one
{
    background-image: url(../src/assets/image/sec_one.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.round
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* margin: 0 auto; */
}
.cont_three
{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
    z-index: 1;
}
.sec_three
{
    background-image: url(../src/assets/image/top-view-different-nuts-with-raisins-dried-fruits-grey-background-nut-snack-raisin-dry-fruit-nuts.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.sec_four
{
    background-image: url(../src/assets/image/parallax2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}